.scroll-pane {
	width: 90%;
	height: 400px;
	overflow: auto;
}

.jspTrack {
	background:#FAF9F9;
    position: relative;
}

.jspDrag {
	background: none repeat scroll 0 0 #E5E4E4;
}

.jspPane li {
	list-style-type:none;
}

